@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #1f1f1f;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.02'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: black;
}
.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #000;
  color: white;
}

.skill {
  animation: marquee 2s linear infinite;
}

@keyframes marquee {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .skills-container > div {
    @apply border-t-0 border-l-0 border-white;
  }

  .skills-container > div:not(:nth-last-child(-n + 3)) {
    @apply border-b-2;
  }

  .skills-container > div:not(:nth-child(3n)) {
    @apply border-r-2;
  }
}
@media (max-width: 767px) {
  .skills-container > div {
    @apply border-white;
  }
  .skills-container > div:not(:nth-last-child(-n + 1)) {
    @apply border-b-2 border-r-0;
  }
  .skills-container > div:not(:nth-last-child(-n + 2)) {
    @apply border-b-2 border-r-0;
  }

  .skills-container > div:not(:nth-child(2n)) {
    @apply border-r-2;
  }
}


.cardAnimate {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.cardAnimate::before,
.cardAnimate::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: -1;
}

.cardAnimate::before {
  background-image: conic-gradient(from var(--angle), transparent 70%, blue);
  border: 2px solid transparent;
  animation: glowAnimation 3s linear infinite, angleAnimation 3s linear infinite;
  filter: blur(10px);
  opacity: 0.5;
}


@keyframes angleAnimation {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes glowAnimation {
  0%, 100% {
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.5), 0 0 20px rgba(51, 51, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 40px rgba(255, 0, 255, 0.7), 0 0 40px rgba(51, 51, 255, 0.7);
  }
}

@keyframes marquee {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}